@model Autor

<div class="container">
    <div class="col mb-3">
        <form asp-controller="Home" asp-action="CreateAutor" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <h1>Create new Autor</h1>
                </div>
                <div class="card-body">
                    <input hidden asp-for="Id" />
                    <div class="row mb-3">
                        <div class="col">
                            <label>What is the name of the autor?</label>
                            <input class="form-control" asp-for="Name" type="text" placeholder="Autor" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label>Description of the autor</label>
                            <textarea class="form-control" asp-for="Description" type="text" placeholder="Hey its me moin"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label>Age of the autor</label>
                            <input class="form-control" asp-for="Age" type="number" placeholder="18"></input>
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit">Hinzufügen</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
